/* Reset and utility class setup */

:root {
    --white: #FAF2E7;
    --black: #000000;

    --britanica-black: "Britanica-Black";

    --gutter-width: 1vw;
    --column: 10;

    --column-width: calc(calc(100vw - (var(--gutter-width) * 11)) / var(--column));
}

@font-face {
    font-family: "Britanica-Black";
    src: url("/assets/font/Britanica-Black\ Regular.ttf");
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: calc(100vw / 1920 * 20);
}

html,
body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    position: relative;
    font-family: var(--britanica-black);
}

a {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    line-height: .8;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    line-height: .8;
}


/* Grid layout overlay */

.overlay {
    opacity: 0;
    position: fixed;
    inset: 0 var(--gutter-width);
    background-image: 
        repeating-linear-gradient(
            to right,
            #e7a2a2,
            #e7a2a2 calc((100% / var(--column)) - var(--gutter-width)),
            transparent calc((100% / var(--column)) - var(--gutter-width)),
            transparent calc(100% / var(--column))
        );
    background-position: left top;
    background-size: calc(100% + var(--gutter-width)) 100%;
    z-index: -1;  /* Change to a positive value to see overlay. */
    transition: opacity 0.3s ease;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: var(--gutter-width);
    background-color: #8b484879;
}

.overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: var(--gutter-width);
    background-color: #8b484879;
}

.overlay.active {
    opacity: 1;
}


/* Page styling */

.wrapper {
    width: 100vw;
    height: 100%;
    padding: var(--gutter-width);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__heading {
    text-wrap: nowrap;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
    
}

.wrapper__heading .heading__line {
    /* overflow: hidden; */
    display: inline-block;
    perspective: 600px;
}

.wrapper__heading .heading__line .heading__line--text {
    font-size: 16.9rem;
    text-transform: capitalize;
    /* background-color: blue; */
    display: inline-block;
    line-height: 0.7;
    transform: translateY(0%);
}

.wrapper__header {
    width: 100%;
    padding: 0 var(--gutter-width);
}

.wrapper__header .navigation__list {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wrapper .wrapper__photos {
    display: grid;
    grid-template-columns: repeat(var(--column), minmax(0, 1fr));
    gap: var(--gutter-width);
}

.wrapper__photos .photos__item {
    grid-column:  span 2 / span 2;
    aspect-ratio: 1/1.2;
}

.wrapper__photos .photos__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}